.responsive-img {
    width: 100%;
    object-fit: cover;
    block-size: auto;
}

.square-img-sm {
     width: 10rem;
}

.square-img-lg {
    width: 15rem;
}

.img-comp-container {
    margin-right: 10rem;
}

.round-img {
    border-radius: 50%;
}

.round-img-sm {
    height: 10rem;
}

.round-img-lg {
    height: 15rem;
}

