.input-box {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid var(--gray-500);
}

.password-fail-box input[type=password] {
    background-color: var(--red-100);
    color: var(--red);
    border: 2px solid var(--red);
}

.password-failed {
    padding-left: 5.5rem;
    color: var(--red);
}

.password-success-box input[type=password]{
    background-color: var(--green-100);
    color: var(--green-500);
    border: 2px solid var(--green-500);
}

.password-success {
    padding-left: 5.5rem;
    color: var(--green-500);
}

.text-area {
    border-radius: 10px;
    border: 2px solid var(--gray-500);
    max-width: 35rem;
}

