:root {
    --padding-one: 1rem;
    --margin-one: 1rem;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-sb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-justify-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.space-one {
    margin: 1rem;
    padding: 1rem;
}

.limit-width {
    width: max-content;
}

.link-active {
    color: var(--secondary-color);
    font-weight: bold;
}

.box-shadow {
    box-shadow: 4px 4px 16px var(--gray-400);
}

.text-gray {
    color: var(--gray-500);
}

.content-right {
    display: flex;
    justify-content: right;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-left {
    display: flex;
    justify-content: left;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-sa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-column-j-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}


.flex-center-sp-ev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-wr-sb {
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

