:root {
    --padding-one: 1rem;
    --margin-one: 1rem;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.space-one {
    margin: 1rem;
    padding: 1rem;
}

.box-shadow {
    box-shadow: 4px 4px 16px var(--gray-400);
}
